/* Proty specific styles.  Only loaded at large window size. */
/* GRID ------------------------------------------------------------------------------------------------------------- */
/* line 6, ../../sass/proty/proty-large.scss */
body {
  min-width: 1000px;
}

/* line 12, ../../sass/proty/proty-large.scss */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19,
.grid-20 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 20, ../../sass/proty/proty-large.scss */
.container-20 {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
/* line 24, ../../sass/proty/proty-large.scss */
.container-20 .grid-1 {
  width: 30px;
}
/* line 25, ../../sass/proty/proty-large.scss */
.container-20 .grid-1.region {
  width: 28px;
}
/* line 27, ../../sass/proty/proty-large.scss */
.container-20 .grid-2 {
  width: 80px;
}
/* line 28, ../../sass/proty/proty-large.scss */
.container-20 .grid-2.region {
  width: 78px;
}
/* line 30, ../../sass/proty/proty-large.scss */
.container-20 .grid-3 {
  width: 130px;
}
/* line 31, ../../sass/proty/proty-large.scss */
.container-20 .grid-3.region {
  width: 128px;
}
/* line 33, ../../sass/proty/proty-large.scss */
.container-20 .grid-4 {
  width: 180px;
}
/* line 34, ../../sass/proty/proty-large.scss */
.container-20 .grid-4.region {
  width: 178px;
}
/* line 36, ../../sass/proty/proty-large.scss */
.container-20 .grid-5 {
  width: 230px;
}
/* line 37, ../../sass/proty/proty-large.scss */
.container-20 .grid-5.region {
  width: 228px;
}
/* line 39, ../../sass/proty/proty-large.scss */
.container-20 .grid-6 {
  width: 280px;
}
/* line 40, ../../sass/proty/proty-large.scss */
.container-20 .grid-6.region {
  width: 278px;
}
/* line 42, ../../sass/proty/proty-large.scss */
.container-20 .grid-7 {
  width: 330px;
}
/* line 43, ../../sass/proty/proty-large.scss */
.container-20 .grid-7.region {
  width: 328px;
}
/* line 45, ../../sass/proty/proty-large.scss */
.container-20 .grid-8 {
  width: 380px;
}
/* line 46, ../../sass/proty/proty-large.scss */
.container-20 .grid-8.region {
  width: 378px;
}
/* line 48, ../../sass/proty/proty-large.scss */
.container-20 .grid-9 {
  width: 430px;
}
/* line 49, ../../sass/proty/proty-large.scss */
.container-20 .grid-9.region {
  width: 428px;
}
/* line 51, ../../sass/proty/proty-large.scss */
.container-20 .grid-10 {
  width: 480px;
}
/* line 52, ../../sass/proty/proty-large.scss */
.container-20 .grid-10.region {
  width: 478px;
}
/* line 54, ../../sass/proty/proty-large.scss */
.container-20 .grid-11 {
  width: 530px;
}
/* line 55, ../../sass/proty/proty-large.scss */
.container-20 .grid-11.region {
  width: 528px;
}
/* line 57, ../../sass/proty/proty-large.scss */
.container-20 .grid-12 {
  width: 580px;
}
/* line 58, ../../sass/proty/proty-large.scss */
.container-20 .grid-12.region {
  width: 578px;
}
/* line 60, ../../sass/proty/proty-large.scss */
.container-20 .grid-13 {
  width: 630px;
}
/* line 61, ../../sass/proty/proty-large.scss */
.container-20 .grid-13.region {
  width: 628px;
}
/* line 63, ../../sass/proty/proty-large.scss */
.container-20 .grid-14 {
  width: 680px;
}
/* line 64, ../../sass/proty/proty-large.scss */
.container-20 .grid-14.region {
  width: 678px;
}
/* line 66, ../../sass/proty/proty-large.scss */
.container-20 .grid-15 {
  width: 730px;
}
/* line 67, ../../sass/proty/proty-large.scss */
.container-20 .grid-15.region {
  width: 728px;
}
/* line 69, ../../sass/proty/proty-large.scss */
.container-20 .grid-16 {
  width: 780px;
}
/* line 70, ../../sass/proty/proty-large.scss */
.container-20 .grid-16.region {
  width: 778px;
}
/* line 72, ../../sass/proty/proty-large.scss */
.container-20 .grid-17 {
  width: 830px;
}
/* line 73, ../../sass/proty/proty-large.scss */
.container-20 .grid-17.region {
  width: 828px;
}
/* line 75, ../../sass/proty/proty-large.scss */
.container-20 .grid-18 {
  width: 880px;
}
/* line 76, ../../sass/proty/proty-large.scss */
.container-20 .grid-18.region {
  width: 878px;
}
/* line 78, ../../sass/proty/proty-large.scss */
.container-20 .grid-19 {
  width: 930px;
}
/* line 79, ../../sass/proty/proty-large.scss */
.container-20 .grid-19.region {
  width: 928px;
}
/* line 81, ../../sass/proty/proty-large.scss */
.container-20 .grid-20 {
  width: 980px;
}
/* line 82, ../../sass/proty/proty-large.scss */
.container-20 .grid-20.region {
  width: 978px;
}
/* line 84, ../../sass/proty/proty-large.scss */
.grid-debug .container-20 {
  background-image: url(../../media/images/grid-desktop-20.png);
}

/* EDITING FUNCTIONS ------------------------------------------------------------------------------------------------ */
/* line 95, ../../sass/proty/proty-large.scss */
.hide-smartphone.thing {
  opacity: 1.0 !important;
}
/* line 98, ../../sass/proty/proty-large.scss */
.disabled .hide-smartphone {
  display: block !important;
}

/* line 104, ../../sass/proty/proty-large.scss */
.hide-tablet.thing {
  opacity: 1.0 !important;
}
/* line 107, ../../sass/proty/proty-large.scss */
.disabled .hide-tablet {
  display: block !important;
}

/* line 113, ../../sass/proty/proty-large.scss */
.hide-desktop.thing {
  opacity: 0.2 !important;
}
/* line 116, ../../sass/proty/proty-large.scss */
.disabled .hide-desktop {
  display: none !important;
}
